/* ----- General page stuff ----- */

html {
    background-color: #fff;
    font-size: 62.5%;
}

body {
    font-family: "Fira Sans", "Helvetica Neue Light", "Helvetica Neue", "Arial", sans-serif;
    font-size: 1.4rem;
}
#main {
    margin: 30px 0;
    position: relative;
}
header h1 {
    text-align: center;
    font-size: 3.0rem;
    font-weight: 200;
    margin: 30px 0 10px 0;
}
header p {
    text-align: center;
    font-size: 1.4rem;
    color: #666666;
    margin: 0;
    font-weight: 200;
}

a {
    color: #641905;
}

/* ----- INDEX PAGE -----*/

#header {
    /* padding-bottom: 20px; */ 
    padding: 35px;
}
#footer {
    text-align: center;
    /*padding-bottom: 10px; */
    color: #666666;
}
#footer img {
    position: relative;
    top: -10px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
#footer img:hover {
    top: -15px;
}

#main {
    overflow: hidden;
}
/* ----- Grid items animation -----*/

/*
.wookmark-placeholder {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
*/

/* ----- Portfolio Grid container ----- */

#tiles {
    list-style-type: none;
    position: relative;
    /** Needed to ensure items are laid out relative to this container **/
    margin: 0;
    padding: 0;
}

/* ----- Portfolio Filters ----- */

#filters {
    border-top: 1px #666666 solid;
    border-bottom: 1px #666666 solid;
}
#filters a {
    padding: 10px 0;
    border: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
/* ----- Grid items ----- */

#tiles li {
    width: 370px;
    /*background-color: #f1f1f1;
    border: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px; */
    display: none;
    /** Hide items initially to avoid a flicker effect **/
    cursor: pointer;
    padding: 0;
    padding-bottom: 5px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
#tiles li.inactive {
    visibility: hidden;
    opacity: 0;
}
#tiles li img {
    display: block;
    width: 100%;
    height: auto;
    /* border: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px; */
}
#tiles li a {
    position: relative;
    top: 0;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
#tiles li a p{
    text-align: center;
    color: #fff;
    background:#641905;
    margin: 5px auto;
    font-size: 1.4rem ; /*1.15em*/
    padding: 2px;
}
#tiles li a:hover {
    top: 5px;
    text-decoration: none;
}

/* ----- Grid item text ----- */

#tiles li p {
    color: #666;
    font-size: 1.3rem;
    line-height: 20px;
    text-align: center;
    font-weight: 200;
    margin: 7px 0 2px 7px;
}

/* ----- PORTFOLIO PAGES ----- */

/* Embedded videos */
.embed-responsive {
    margin: 10px;
}

/* Page Styles */
.folioImg {
    padding: 10px;
}
.portfolioBody p {
    font-size: 1.4rem;
}
.backButton {
    position: relative;
    left: 5px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.backButton:hover {
    left: 0px;
}



#leftArrow {
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
#leftArrow:hover {
    left: -5px;
}
#rightArrow {
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
#rightArrow:hover {
    right: -5px;
}

.portfolioTitle {
    padding-bottom: 10px;
}
.portfolioTitle h1 {
    color: #641905;
}
.portfolioTitle img {
    width: 65%;
    padding-top: 20%;
}
